* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open sans", "Arial", sans-serif;
  background-color: #ffffff;

}


/* Container */

.container {
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Site header */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.site-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
}

.site-logo:hover {
  color: #DE2E54;
}

.site-logo:active {
  opacity: 0.6;
}
.site-logo-img {
  margin-right: 16px;
}

/* Site nav  */

.site-header-links {
  display: flex;
  align-items: center;
}
.link-items {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 32px;
  list-style: none;
}

.link-item {
  margin-right: 32px;
}

.link-item:last-child {
  margin-right: 0;
}

.site-link  {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  color: #222222;
  transition: color 0.4s ease;
}
.site-link:hover {
  color: #DE2E54;
}

.site-link:active {
  opacity: 0.6;
}

.main-button {
  display: inline-block;
  padding: 12px 24px;
  color: #ffffff;
  background-color: #DE2E54;
  border: 2px solid #DE2E54;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 150%;
  text-decoration: none;
  transition: background-color 0.4s ease;
}

.main-button:hover {
  color: #DE2E54;
  background-color: #ffffff;
  border: 2px solid #DE2E54;
  border-radius: 8px;
}

.main-button:active {
  color: #ffffff;
  background-color:#DE2E54;
  opacity: 0.6;
  border: 2px solid #DE2E54;
  border-radius: 8px;
}

/* Hero section  */

.hero-section {

  background-color: #0EB4C1;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  width: 100%;
  max-width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;

}

.hero-heading {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: "Open sans" "Arial" sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;

}

.hero-text {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.hero-button:hover {
  background-color: rgba(222, 46, 84, 0.8);
  color: #ffffff;

}

.hero-button:active {
  background: rgba(222, 46, 84, 0.6);
  border-radius: 8px;

}

.hero-img {
  align-self: flex-end;


}

/*  Service styles */

.service-section {
background-color: #ffffff;
}

.service-container {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 864px;
}
.services-title {
  margin: 0;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.service-container {
  padding-top: 56px;
  padding-bottom: 72px;
}

.services-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service-img {
  margin-right: 64px;


}

.service-heading {
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Open sans', 'Arial' sans-serif;
  font-weight: 700;
  font-size: 24px;

}

.service-text {
  margin: 0;
  font-family: 'Open sans' "Arial" sans-serif;
  color: #444444;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


.service-button {
 display: block;
 width: 237px;
 margin-left: auto;
 margin-right: auto;
 align-items: flex-start;


}


/* Footer section styles */

.reception-section {
  background-color: #0EB4C1;
}

.reception-title {
  margin: 0;
  padding-top: 64px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Open sans', 'Arial',  serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}

.reception-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 64px;
}

.reception-buttons li {
  margin-right: 40px;
}

.reception-buttons li:last-child {
  margin-right: 0;
}

.reception-button {
  padding: 12px 24px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open sans', 'Arial' sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 18px;
  transition: background-color 0.4s ease;
}

.call-button:hover {
  background-color: #DE2E54;
  border: 2px solid #DE2E54;
  border-radius: 8px;
}
.call-button:active {
  opacity: 0.6;

}

/* Footer sectioon styles */

.footer-section {
  background-color: #222222;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.footer-site-links {
  display: flex;
  align-items: center;
}
.footer-link-items {
 display: flex;
 list-style: none;
 margin: 0;
}

.footer-link-item {
  margin-right: 32px;
}

.footer-link-item:last-child {
  margin-right: 0;
}

.footer-site-link {
  color: #ffffff;
  font-family: 'Open sans', "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.4s ease;
}

.footer-site-link:hover {
  color: #DE2E54;
}

.footer-site-link:active {
  color: #ffffff;
  opacity: 0.6;
}

/* RESPONSIVE */

@media only screen and (max-width:1000px) {
  .hero-content {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 50%;
  }

  .hero-img {
    width: 42%;
    height: auto;
  }
}

@media only screen and (max-width:800px) {
  .hero-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-content {
    width: 100%;
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }

  .hero-heading {
    font-size: 24px;
  }

  .hero-text {
    width: 100%;
  }

}

@media only screen and (max-width:550px) {
  .hero-img {
    width: 75%;
  }

}
